{% extends 'layout.html' %}
{% block body %}


<main>
    <!-- Section heading -->
    <div class="row flex-center" style="margin-top:1%">
        <h1 class="h1-responsive font-weight-bold mt-2 text-center">Badshahi Mosque</h1>
    </div>
    <!-- Section description -->
    <p class="dark-grey-text w-responsive mx-auto mb-5">Badshahi Mosque is a Mughal era masjid in Lahore,
        capital of the Pakistani province of Punjab, Pakistan.
        The mosque is located west of Lahore Fort along the outskirts of the Walled City of Lahore,
        and is widely considered to be one of Lahore's most iconic landmarks. </p>
    <!-- Card deck -->
    <div class="card-deck mb-5">

        <!-- Card -->
        <div class="card mb-4">

            <!--Card image-->
            <div class="view overlay">
                <img class="card-img-top" src="../static/public/img/Slides/badshah(1).jpg" alt="Card image cap">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
        </div>
        <!-- Card -->

        <!-- Card -->
        <div class="card mb-4">

            <!--Card image-->
            <div class="view overlay">
                <img class="card-img-top" src="../static/public/img/Slides/badshah(2).jpg" alt="Card image cap">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

        </div>
        <!-- Card -->

        <!-- Card -->
        <div class="card mb-4">

            <!--Card image-->
            <div class="view overlay">
                <img class="card-img-top" src="../static/public/img/Slides/badshah(3).jpg" alt="Card image cap">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
        </div>
        <!-- Card -->
    </div>
    <!-- Card deck -->
</main>
{% include 'add_page_comment.html' %}

{% endblock %}