{% extends 'layout.html' %}

{% block body %}
<main>

<!-- Section: Magazine v.3 -->
<section class="magazine-section ">
<div class="row flex-center" style="margin-top:2%">
<h4 class="text-center">Dishes Section</h4>
  </div>
    <!-- Grid row -->
  <div class="row">
    <!-- Grid column 1-->
    <div class="col-lg-4 col-md-6 mb-0">

      <!-- Featured news -->
      <div class="single-news mb-3">

        <!-- Image -->
        <div class="view overlay rounded z-depth-2 mb-4">
         <a href="kabab.html"> <img class="img-fluid" src="../static/public/img/Slides/Seekh.jpg" alt="Sample image"></a>
          <a href="kabab.html">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Grid row -->
        <div class="row mb-3">

          <!-- Grid column -->
          <div class="col-12">

            <!-- Badge -->
             <a href="{{ url_for('kabab') }}"><button type="button" class="btn btn-primary">Seekh Kabab <span class="badge badge-danger ml-2"></span>
              </button></a>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->
      </div>
      <!-- Featured news -->



    </div>
    <!-- Grid column 1-->


	 <!-- Grid column 2-->
    <div class="col-lg-4 col-md-6 mb-0">

      <!-- Featured news -->
      <div class="single-news mb-3">

        <!-- Image -->
        <div class="view overlay rounded z-depth-2 mb-4">
         <a href="biryani.html"> <img class="img-fluid" src="../static/public/img/Slides/Biryan.jpg" alt="Sample image"></a>
          <a href="biryani.html">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Grid row -->
        <div class="row mb-3">

          <!-- Grid column -->
          <div class="col-12">

            <!-- Badge -->
             <a href="{{ url_for('biryani') }}"><button type="button" class="btn btn-primary">Biryani <span class="badge badge-danger ml-2"></span>
              </button></a>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->
      </div>
      <!-- Featured news -->



    </div>
    <!-- Grid column 2-->


	 <!-- Grid column 3-->
    <div class="col-lg-4 col-md-6 mb-0">

      <!-- Featured news -->
      <div class="single-news mb-3">

        <!-- Image -->
        <div class="view overlay rounded z-depth-2 mb-4">
         <a href="karhai.html"> <img class="img-fluid" src="../static/public/img/Slides/Karhai.jpg" alt="Sample image"></a>
          <a href="karhai.html">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Grid row -->
        <div class="row mb-3">

          <!-- Grid column -->
          <div class="col-12">

            <!-- Badge -->
             <a href="{{ url_for('karhai') }}"><button type="button" class="btn btn-primary">Karhai <span class="badge badge-danger ml-2"></span>
              </button></a>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->
      </div>
      <!-- Featured news -->



    </div>
    <!-- Grid column 3-->




  </div>
  <!-- Grid row -->

</section>
<!-- Section: Magazine v.3 -->
</main>
{% endblock %}



