{% extends 'layout.html' %}

{% block body %}
<main>

<!-- Section heading  style="margin-top:10%" -->
    <div class="row flex-center" >
  <h1 class="h1-responsive font-weight-bold mt-2 text-center">Traditional Dress</h1>
        </div>
  <!-- Section description -->
  <p class="dark-grey-text w-responsive mx-auto mb-5">The term Pakistani clothing refers to the ethnic clothing
      that is typically worn by people in the country of Pakistan and by the people of Pakistani origin.
      Pakistani clothes express the culture of Pakistan, the demographics of Pakistan and cultures from the Punjab,
      Sindh, Balochistan, Pashtun and Kashmir regions of the country. Dress in each regional culture reflect weather conditions,
      way of living and distinctive style which gives it a unique identity among all cultures.</p>
<!-- Card deck -->
<div class="card-deck mb-5">

  <!-- Card -->
  <div class="card mb-4">

    <!--Card image-->
    <div class="view overlay">
      <img class="card-img-top" src="../static/public/img/Slides/dress(1).jpg" alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
  </div>
  <!-- Card -->

  <!-- Card -->
  <div class="card mb-4">

    <!--Card image-->
    <div class="view overlay">
      <img class="card-img-top" src="../static/public/img/Slides/dress(2).jpg" alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

  </div>
  <!-- Card -->

  <!-- Card -->
  <div class="card mb-4">

    <!--Card image-->
    <div class="view overlay">
      <img class="card-img-top" src="../static/public/img/Slides/dress(3).jpg" alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
  </div>
  <!-- Card -->

</div>
<!-- Card deck -->

</main>

{% include 'add_page_comment.html' %}
{% endblock %}