{% extends 'layout.html' %}
{% block body %}


<main>
    <!-- Section heading -->
    <div class="row flex-center" style="margin-top:1%">
        <h1 class="h1-responsive font-weight-bold mt-2 text-center">Lahore Fort</h1>
    </div>
    <!-- Section description -->
    <p class="dark-grey-text w-responsive mx-auto mb-5">The Lahore Fort, is a citadel in the city of Lahore, Punjab,
        Pakistan.
        The fortress is located at the northern end of walled city Lahore, and spreads over an area greater than 20
        hectares.
        It contains 21 notable monuments, some of which date to the era of Emperor Akbar.</p>
    <!-- Card deck -->
    <div class="card-deck mb-5">

        <!-- Card -->
        <div class="card mb-4">

            <!--Card image-->
            <div class="view overlay">
                <img class="card-img-top" src="../static/public/img/Slides/fort(1).jpg" alt="Card image cap">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
        </div>
        <!-- Card -->

        <!-- Card -->
        <div class="card mb-4">

            <!--Card image-->
            <div class="view overlay">
                <img class="card-img-top" src="../static/public/img/Slides/fort(2).jpg" alt="Card image cap">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

        </div>
        <!-- Card -->

        <!-- Card -->
        <div class="card mb-4">

            <!--Card image-->
            <div class="view overlay">
                <img class="card-img-top" src="../static/public/img/Slides/fort(3).jpg" alt="Card image cap">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
        </div>
        <!-- Card -->

    </div>
    <!-- Card deck -->


    <!--Textarea with icon prefix-->



</main>
{% include 'add_page_comment.html' %}

{% endblock %}