{% extends 'layout.html' %}
{% block body %}
<main>
    <div class="row flex-center" >
    <h2 class="text-center">History</h2>
    </div>
    <!-- Section: Blog v.4 -->
    <section class="my-5">
        <!-- Grid row -->
        <div class="row">
            <!-- Grid column -->
            <div class="col-md-12">
                <!-- Card -->
                <div class="card card-cascade wider reverse">
                    <!-- Card image -->
                    <div class="view view-cascade overlay">
                        <img class="card-img-top" src="../static/public/img/Slides/old.jpg" alt="Sample image">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <!-- Excerpt -->
                    <div class="jumbotron justify">
                        <p>The history of Pakistan encompasses the history of the region constituting modern-day
                            Pakistan, which is intertwined with the history of the broader Indian subcontinent and the
                            surrounding regions of South Asia, East Asia and Central Asia. For over three millennia, the
                            region has witnessed human activity and one of the world's major civilizations,the Indus
                            Valley Civilisation.
                            The history of the region constituting modern nation-state of Pakistan is associated with
                            Ancient India, Classical India, Medieval India and British India.The trade routes which
                            traverse the Indus Valley linking Central Asia, the Indian subcontinent and the Orient have
                            attracted people from as far as Greece and Mongolia and several imperial powers, the last
                            being the British Empire.
                        </p>
                    </div>
                </div>
            </div>
            <!-- Grid column -->
        </div>
    </section>
</main>


{% endblock %}


<!-- Footer -->
<footer class="page-footer font-small teal dark-3">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
        <a> Pakistan</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->



