{% extends 'layout.html' %}

{% block body %}
<main>
<!-- Section heading -->
    <div class="row flex-center" style="margin-top:2%">
  <h1 class="h1-responsive font-weight-bold mt-2 text-center">Islam</h1>
  <!-- Section description -->
    </div>
  <p class="dark-grey-text w-responsive mx-auto mb-5">Pakistan was formed as an Islamic nation,
      and Islam continues to be the religion of approximately 95 percent of the population.
      There are also small groups of Buddhists, Christians, Parsis, and Hindus.
      The Muslim religion was founded by the prophet Muhammad in the seventh century,
      when, according to Islamic belief, he received messages from God and wrote them down in what became the Qur'an,
      the Islamic book that instructs Muslims on how to conduct their lives.</p>
<!-- Card deck -->
<div class="card-deck mb-5">

  <!-- Card -->
  <div class="card mb-4">

    <!--Card image-->
    <div class="view overlay">
      <img class="card-img-top" src="../static/public/img/Slides/islam(1).jpg" alt="Card image cap">
      <a href="islam">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
  </div>
  <!-- Card -->

  <!-- Card -->
  <div class="card mb-4">

    <!--Card image-->
    <div class="view overlay">
      <img class="card-img-top" src="../static/public/img/Slides/islam(2).jpg" alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

  </div>
  <!-- Card -->

  <!-- Card -->
  <div class="card mb-4">

    <!--Card image-->
    <div class="view overlay">
      <img class="card-img-top" src="../static/public/img/Slides/islam(3).jpg" alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
  </div>
  <!-- Card -->

</div>

</main>
{% include 'add_page_comment.html' %}
{% endblock %}
