{% extends 'layout.html' %}
{% block body %}
<main>
<!-- Section heading -->
  <div class="row" style="margin-top:1%">
  <h1 class="h1-responsive font-weight-bold mt-2 text-center">Karhai</h1>
  <!-- Section description -->
  <p class="dark-grey-text w-responsive mx-auto mb-5">karahi is a type of thick, circular, and deep cooking pot that originated in the Indian subcontinent. It is used in Pakistani, Indian, Afghani, Bangladeshi, and Nepalese cuisines.
      Traditionally press-formed from mild steel sheet or made of wrought iron,
      karahi look like woks with steeper sides.</p>

      </div>
<!-- Card deck -->
<div class="card-deck mb-5">

  <!-- Card -->
  <div class="card mb-4">

    <!--Card image-->
    <div class="view overlay">
      <img class="card-img-top" src="../static/public/img/Slides/karhaii(1).jpg" alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
  </div>
  <!-- Card -->

  <!-- Card -->
  <div class="card mb-4">

    <!--Card image-->
    <div class="view overlay">
      <img class="card-img-top" src="../static/public/img/Slides/karhaii(2).jpg" alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

  </div>
  <!-- Card -->

  <!-- Card -->
  <div class="card mb-4">

    <!--Card image-->
    <div class="view overlay">
      <img class="card-img-top" src="../static/public/img/Slides/karhaii(3).jpg" alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
  </div>
  <!-- Card -->

</div>
<!-- Card deck -->


<!--Textarea with icon prefix-->

<!--<div class="md-form pink-textarea active-pink-textarea" style="margin-bottom:10%;">-->
  <!--<i class="fa fa-pencil prefix"></i>-->
  <!--<textarea type="text" id="form21" class="md-textarea form-control" rows="3">-->

  <!--</textarea>-->
  <!--<input type="button" class="btn btn-md btn-rounded btn-primary float-right mb-5" value="Reply">-->
  <!--<label for="form21">Add Comments</label>-->
<!--</div>-->



</main>
{% include 'add_page_comment.html' %}

{% endblock %}