{% extends 'layout.html' %}
{% block body %}
<main>
    <!-- Section heading -->
    <div class="row flex-center" style="margin-top:1%">
        <h1 class="h1-responsive font-weight-bold mt-2 text-center">Minar-e-Pakistan</h1>
    </div>
    <!-- Section description -->
    <p class="dark-grey-text w-responsive mx-auto mb-5">Minar-e-Pakistan (Pakistan Day Memorial) is a minar which was
        built to commemorate the day when the Pakistan resolution was passed on March 23, 1940.
        The main tower of this memorial was completed on March 22, 1968. The location was originally known as Minto
        Park.
        It was here that the historic session of the All-India Muslim League was held on March 23, 1940.</p>
    <!-- Card deck -->
    <div class="card-deck mb-5">

        <!-- Card -->
        <div class="card mb-4">

            <!--Card image-->
            <div class="view overlay">
                <img class="card-img-top" src="../static/public/img/Slides/minar(1).jpg" alt="Card image cap">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
        </div>
        <!-- Card -->

        <!-- Card -->
        <div class="card mb-4">

            <!--Card image-->
            <div class="view overlay">
                <img class="card-img-top" src="../static/public/img/Slides/minar(2).jpg" alt="Card image cap">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

        </div>
        <!-- Card -->

        <!-- Card -->
        <div class="card mb-4">

            <!--Card image-->
            <div class="view overlay">
                <img class="card-img-top" src="../static/public/img/Slides/minar(3).jpg" alt="Card image cap">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
        </div>
        <!-- Card -->

    </div>
    <!-- Card deck -->


</main>
{% include 'add_page_comment.html' %}

{% endblock %}