{% extends 'layout.html' %}

{% block body %}
<main>
<!-- Section heading -->
    <div class="row flex-center" style="margin-top:1%">
  <h1 class="h1-responsive font-weight-bold mt-2 text-center">Social Stratification</h1>
    </div>
  <!-- Section description -->
  <p class="dark-grey-text w-responsive mx-auto mb-5">Classes and Castes. There is no caste system in Pakistan. There are high-income, middle-income and a large number of low-income persons throughout the country. Locale makes an important difference in the quality of life; a low-income person in an urban area has more problems than one living in a tribal, mountainous area.

Symbols of Social Stratification. There have been and continue to be a number of social development shortcomings in Pakistan, but in recognition of them, the government in 1992–1993 initiated the Social Action Program (SAP) to make social development and social services available to all levels of the Pakistanis. Reports show that while some had benefited, the rural people who were meant to benefit mostly did not. Some of the program's expenditures were for elementary education, primary health, welfare, and rural water supply and sanitation. It is believed that many people do not understand the purpose and scope of the SAP and that substantial changes must be made in the program if it is to be successful.
  </p>
<!-- Card deck -->
<div class="card-deck mb-5">

  <!-- Card -->
  <div class="card mb-4">

    <!--Card image-->
    <div class="view overlay">
      <img class="card-img-top" src="../static/public/img/Slides/social(1).jpg" alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
  </div>
  <!-- Card -->

  <!-- Card -->
  <div class="card mb-4">

    <!--Card image-->
    <div class="view overlay">
      <img class="card-img-top" src="../static/public/img/Slides/social(2).jpg" alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

  </div>
  <!-- Card -->

  <!-- Card -->
  <div class="card mb-4">

    <!--Card image-->
    <div class="view overlay">
      <img class="card-img-top" src="../static/public/img/Slides/social(3).jpg" alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
  </div>
  <!-- Card -->

</div>
<!-- Card deck -->






</main>
{% include 'add_page_comment.html' %}

{% endblock %}